.add-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0 0;
    padding: 0 0.5rem 0.25rem;
    border-bottom: 1px solid #eee;
}

.add-form label {
    position: absolute;
    left: -99999px;
}

.add-form input[type='text'] {
    flex-grow: 1;
    max-width: calc(100% - 50px);
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
}

.add-button {
    height: 48px;
    min-width: 48px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: aliceblue;
    color: #0A369D;
    cursor: pointer;
}

.add-button:focus,
.add-button:hover {
    color: white;
    background-color: #F1C40F;
    outline: none;
}