.item::before {
    content: "\200B";
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.25rem 0;
    background-color: #E8E9F3;
}

.item input[type="checkbox"] {
    text-align: center;
    width: 2.5rem;
    min-width: 48px;
    height: 2.5rem;
    min-height: 48px;
    cursor: pointer;
    margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
    text-decoration: underline;
}

.item > label {
    font-size: 0.75rem;
    flex-grow: 1;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}

.item svg {
    width: 48px;
    min-width: 48px;
    height: 36px;
    font-size: 1rem;
    color: steelblue;
    cursor: pointer;
}

.item svg:focus,
.item svg:hover {
    color: #89023E;
    outline: none;
}